@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
}


body {
    margin: 0;
    padding: 0;
    font-family: "Nunito", sans-serif;
}

html {

    scroll-behavior: smooth;
}

header .wrapper {
    margin: 0;
    padding: 0;
    max-width: 100%;
    position: relative;
}

header .wrapper .content-wrapper {
    float: right;
    width: 100%
}

section {
    min-height: 100vh;
    padding: 10rem 9% 2rem;
}

.content-wrapper .navbar {
    background-color:rgb(34, 40, 49, 0.8 ); 
    border-bottom: 1px solid #233f5d;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    align-items: center;
    display: flex;
    padding: 1.4rem 7%;
    width: 100%;  
    justify-content: space-between;
    z-index: 9999;
}
.navbar .navbar-nav a {
    font-size: 1.3rem ;
    color: #ffff;
    font-weight: 700;
    display: inline-block;
    margin: 0 4.6rem ;
}

.navbar .navbar-nav a:hover {
    color : #59B2F2F4;
}

.navbar .navbar-nav a::after{
    content: '';
    display: block;
    padding-bottom: 0.5rem;
    border-bottom: 0.1rem solid #59B2F2F4;
    transform: scaleX(0);
    transition: 0.2s linear;
}

.navbar .navbar-nav a:hover::after{
    transform: scaleX(1);
}

.navbar .navbar-extra a {
    color: #fff;
    margin: 0 0.5rem;
}

.navbar .navbar-extra a:hover{
    color: #233f5d;
}

#menu {
    display: none;
}

.home-content .btn a:hover{
    color: #233f5d;
}


#menu-icon {
    font-size: 3.6rem;
    color: #262840;
    display: none;
}




.sidebar {
    -webkit-box-shadow: 4px 0 5px -2px rgba(94, 94, 94, 0.81);
    box-shadow: 4px 0 5px -2px rgba(94, 94, 94, 0.81);
    text-align: center;
    position: fixed;
    width: 400px;
    margin-right: -320px;
    float: left;
    color: #fff !important;
    height: 100%;
    background-image: -webkit-linear-gradient(bottom, #222831 0%, #31363F 100%);
    background-image: -moz-linear-gradient(bottom, #222831 0%, #31363F 100%);
    background-image: -o-linear-gradient(bottom, #222831 0%, #31363F 100%);
    background-image: -ms-linear-gradient(bottom, #222831 0%, #31363F 100%);
    background-image: linear-gradient(to top, #222831 0%, #31363F 100%);
}

.sidebar .bio {
    position: absolute;
    top: 25%;
    left: 5%;
    width: 90%;
    display: block;
    margin: 0 auto;
}

.sidebar .bio .title h1 {
    font-weight: 700;
    margin-bottom: 0;
    text-transform: uppercase;
    font-size: 28px
}

.sidebar .bio .title h2 {
    font-size: 20px;
    margin: 0 0 30px 0;
    font-weight: 300;
    letter-spacing: 1.6px
}

span{
    color:#59B2F2F4;
}

.home-content .sosial-media a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height:4rem;
    background: transparent;
    border: .2rem solid #59B2F2F4;
    border-radius: 50%;
    font-size: 2rem;
    color: #59B2F2F4;
    margin:  2rem 1.5rem 3rem 0;
    transition: .5s ease;
}


.home-content .sosial-media {
    display: flex;
    flex-wrap: wrap;
    gap: 3.8rem; 
}


.home-content .sosial-media a:hover {
    background: #59B2F2F4 ; 
    color: #ffff;
    box-shadow: 0 0 1rem #59B2F2F4;
}



.title .sosial-media-content a{
    text-decoration: none;
    color: #000000;
    padding: 1rem;

}
.title .sosial-media-content h3{
    padding: 1rem;

}

.content .title .sosial-media-content i {
    float: left;
    color: #233f5d;
    font-size: 20px;
    text-decoration: none;
}

.home-content .btn{
    display: inline-block;
    padding: 1rem 1rem;
    background: #59B2F2F4;
    border-radius: 4rem;
    box-shadow: 0 0 1rem #59B2F2F4;
    font-size: 1rem;
    color: #fff;
    letter-spacing: .1rem ;
    font-weight: 400;
    transition: .5s ease;
    margin-top: 1.5rem;


}
.title .btn-porto{
    display: inline-block;
    padding: 1rem 1rem;
    background: #59B2F2F4;
    border-radius: 4rem;
    box-shadow: 0 0 1rem #59B2F2F4;
    font-size: 1rem;
    color: #fff;
    letter-spacing: .1rem ;
    font-weight: 400;
    transition: .5s ease;
    margin-top: 1.5rem;


}

.title h3{
    padding: 0.5rem;
}




.title .item{
    padding: 1rem;

}





.sidebar .bio .avatar img {
    object-fit: cover;
    position: static;
    height: 180px;
    width: 180px;
    overflow: hidden;
    border-radius: 100%;
    border: 2px solid rgba(255, 255, 255, 0.2);
    -webkit-box-shadow: 0 0 20px rgba(255, 255, 255, 0.3);
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.3)
}
.home  .avatar img {
    margin-right: 20px;
    float: left;
    object-fit: cover;
    height: 180px;
    width: 180px;
    align-items: center; 
    overflow: hidden;
    border-radius: 100%;
    border: 2px solid rgba(255, 255, 255, 0.2);
    -webkit-box-shadow: 0 0 20px rgba(255, 255, 255, 0.3);
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.3)
}

.sidebar .bio .desc {
    width: 85%;
    display: block;
    margin: 0 auto;
}

.sidebar .bio .desc p {
    font-size: 12px;
    font-weight: 300;
    color: #f2f2f2;
    margin-top: 7rem ;
}

.sidebar .bio .desc h3 {
    color: #f2f2f2;
    margin-top: 1.5rem;
}


.content {
    padding: 30px 0 0 60px;
    position: relative;
    margin-left: 420px;
    clear: both;
    overflow: auto;
    color: #777;
}

.content .title {
    padding-bottom: 20px;
}

.content .title i {
    float: left;
    color: #233f5d;
    font-size: 26px;
    margin-right: 15px
}

.content .title h2 {
    color: #555;
    margin-top: 5rem;
}

.content .title .item {
    margin-bottom: 30px;
}

.content .title .item h3 {
    color: #777;
    margin-bottom: 5px
}

.content .title .item span {
    color: rgba(35, 63, 93, 0.9);
    font-weight: 300
}

.content .title .item p {
    margin-top: 0;
    width: 95%;
    letter-spacing: 1.1px;
    line-height: 25px
}

.content .title .item-w33 {
    width: 30%;
    display: inline-block
}

.item-w33 .skills {
    height: 10px;
    position: relative;
    background: #233f5d;
    border-radius: 50px;
    padding: 6px;
    width: 90%;
    margin-top: 10px;
}

.item-w33 .skills span {
    display: block;
    height: 100%;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    background-color: #1687ed;
    overflow: hidden;
    position: relative;
    -webkit-box-shadow: inset 0 2px 9px rgba(255, 255, 255, 0.3), inset 0 -2px 6px rgba(0, 0, 0, 0.4);
    box-shadow: inset 0 2px 9px rgba(255, 255, 255, 0.3), inset 0 -2px 6px rgba(0, 0, 0, 0.4);
}

.item-w33  .skills span:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-image: -webkit-linear-gradient(135deg, rgba(255, 255, 255, 0.2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.2) 75%, transparent 75%, transparent);
    background-image: -moz-linear-gradient(135deg, rgba(255, 255, 255, 0.2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.2) 75%, transparent 75%, transparent);
    background-image: -o-linear-gradient(135deg, rgba(255, 255, 255, 0.2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.2) 75%, transparent 75%, transparent);
    background-image: -ms-linear-gradient(135deg, rgba(255, 255, 255, 0.2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.2) 75%, transparent 75%, transparent);
    background-image: linear-gradient(-45deg, rgba(255, 255, 255, 0.2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.2) 75%, transparent 75%, transparent);
    z-index: 1;
    -webkit-background-size: 50px 50px;
    -moz-background-size: 50px 50px;
    background-size: 50px 50px;
    -webkit-animation: move 4s linear infinite;
    -moz-animation: move 4s linear infinite;
    -o-animation: move 4s linear infinite;
    -ms-animation: move 4s linear infinite;
    animation: move 4s linear infinite;
    overflow: hidden
}

@-webkit-keyframes move {
    0% {
        background-position: 0 0
    }

    100% {
        background-position: 50px 50px
    }
}

@-moz-keyframes move {
    0% {
        background-position: 0 0
    }

    100% {
        background-position: 50px 50px
    }
}




@media (max-width: 450px){
    html{
        font-size: 55% ;
    }
}

@media only screen and (max-width:768px) {
    .sidebar {
        -webkit-box-shadow: none;
        box-shadow: none;
        padding-top: 60px;
        padding-bottom: 60px;
        margin-right: 0;
        width: 100%;
        position: relative;
    }

    #menu{
        display: inline-block;
    }

    .navbar .navbar-nav{
        position: absolute;
        top: 100%;
        right: -100%;
        background-color: #fff;
        width: 30rem;
        height: 100vh;
    }

    .navbar .navbar-nav .active{
        right: 0;
    }

    .sidebar .bio {
        position: relative;
        top: 0%;
        left: 0%
    }

    .content {
        margin-left: 0;
        position: relative;
        padding: 20px;
    }

    .content .title .item h3 span {
        display: block
    }

    .content .title .item p {
        width: 100%;
        text-align: justify
    }

    .content .title .skills {
        width: 100%;
        margin-top: 0
    }

    .content .title .w33 {
        width: 95%;
        display: inline-block
    }
}


